:root{
  --brandColor:#3C677F;
}
*{
  color: inherit;
}
nav ul a , .material-icons, .sidenav li>a{
  color: var(--brandColor);
}
#show-img {
  width: 70%;
}
.row .col.fixed-right {
  position: fixed;
  right: 0;
}
.flex{
  display: flex;
}
.flex-align-between{
  justify-content: space-between;
}
.menu-nav {
  border-top: 2px solid #3C677F;
  border-bottom:2px solid #3C677F;
}
.no-shadow {
  box-shadow: none;
}

.brand-font-color {
  color: var(--brandColor);
}
.brandBgColor {
  background: var(--brandColor);
}
.brandBorder {
  border: 1px solid var(--brandColor);
}
.color {
  color: inherit;
}

.hover-dark:hover {
  background: var(--brandColor);
  color: white;
}

.hover-light:hover {
  background: transparent;
  color: var(--brandColor);
}
.hover-light:active {
  color: white;
}
.light-btn {
  background: transparent;
}
.waves-effect.waves-brand .waves-ripple {
  background-color: var(--brandColor);
}
.m-right {
  margin-right: 7px;
}

.btn:hover {
  box-shadow: none;
}
nav .brandLogo {
  height: 100%;

}
.container {
  height: 100%;
}
